<a href="https://colab.research.google.com/github/santiago-a-serrano/semana-tec/blob/main/3.3%20-%20Actividad%20-%20Lectura%20Datos%20-%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad

- **Nombres**: Santiago Andrés Serrano Vacca, Miguel Ángel Peña Ruiz, Ricardo Jorge Rodríguez Treviño, David Emiliano Mireles Cárdenas.
- **Matrículas**: A01734988, A01366731, A00831595, A01633729.

# Entregar 
Archivo PDF de la actividad y la liga de la actividad en su repostitorio.

# Nota: 
Todas las tareas entregadas fuera de la fecha limite se califican sobre 50 de los 100 puntos posibles.

1. Leer el archivo **netflix_titles.csv**

In [9]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive/')
file = open('/content/drive/My Drive/SemanaTec/arte-analitica/data/netflix_titles.csv')
data = pd.read_csv(file)

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

2. Observa las primeras líneas usando la función head

In [10]:
data.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

3. Genera una función que despliegue el primer reglon del archivo.

In [21]:
## Esta función debe de regresar una lista con los valores del primer reglon
def top_uno():
  return data.head(1)

top_uno()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...

[1 rows x 12 columns]

4. Genera una función que regrese el número de registros del archivo

In [23]:
## Esta función tiene que entregar el número de registros del archivo
def row_number():
  return len(data)

row_number()

7787

5. Generar una función que entregue las películas con release_year del 2020

In [28]:
## Esta función tiene que entregar las películas creadas en el año 2020

year_consulta=2020
def released_year(year):
  return data[data['release_year'] == year]

released_year(year_consulta)

     show_id  ...                                        description
0         s1  ...  In a future where the elite inhabit an island ...
24       s25  ...  Seiya and the Knights of the Zodiac rise again...
26       s27  ...  This docuseries takes a deep dive into the luc...
27       s28  ...  As a grisly virus rampages a city, a lone man ...
29       s30  ...  Kenya Barris and his family navigate relations...
...      ...  ...                                                ...
7725   s7726  ...  A nurse and her daughter flee her husband’s dr...
7734   s7735  ...  An ad creative and a successful exec have a gr...
7738   s7739  ...  An incendiary hate crime stirs civil unrest, f...
7741   s7742  ...  In 1987, as martial law ends in Taiwan, Jia-ha...
7744   s7745  ...  Revisiting life goals set in a letter written ...

[868 rows x 12 columns]

6. Películas con la columna de contry='Mexico'

In [29]:
## Esta función tiene que entregar las películas creadas en Mexico
pais_consulta='Mexico'

def country_year(pais_consulta):
  return data[data['country'] == pais_consulta]

country_year(pais_consulta)

     show_id  ...                                        description
1         s2  ...  After a devastating earthquake hits Mexico Cit...
12       s13  ...  Archival video and new interviews examine Mexi...
292     s293  ...  Three lifelong friends travel to Acapulco oste...
370     s371  ...  Mexican comic Alan Saldaña has fun with everyt...
378     s379  ...  Comic Alex Fernández performs his familiar aut...
...      ...  ...                                                ...
7698   s7699  ...  On the run from the police, an Arizona man cro...
7725   s7726  ...  A nurse and her daughter flee her husband’s dr...
7734   s7735  ...  An ad creative and a successful exec have a gr...
7773   s7774  ...  This introspective rockumentary follows the ca...
7779   s7780  ...  An assortment of talent takes the stage for a ...

[100 rows x 12 columns]

**Ejercicio de apply**

Genrar una función que obtenga el cuadrado de un número y llamala cuadrado.

In [109]:
def cuadrado(x):
    return x * x

Usando la instruccion **apply** generar el cuadrado de todos los valores del siguiente dataframe. 

Ultiliza la función que definiste en el paso anterior.

In [114]:

import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df.applymap(cuadrado)

    A     B
0   1   100
1   4   400
2   9   900
3  25  1600
4  36  2500

**Ejercicio de map**

Calcular la longitud del contenido de todas las celdas del datafame usando **lambda** y la operación **map**

In [121]:
import pandas as pd

df = pd.DataFrame({'Nombre': ['Luz', 'Eunice','Ignacio','José'], 'Apellido': ['Angeles', 'Ochoa','Treviño','Zapata']})
print(df['Nombre'].map(lambda x: len(x)), df['Apellido'].map(lambda x: len(x)), sep="\n")

#df

0    3
1    6
2    7
3    4
Name: Nombre, dtype: int64
0    7
1    5
2    7
3    6
Name: Apellido, dtype: int64